nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;

  background: var(--background2);

  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--magenta);
    -webkit-text-shadow: 5px 5px 15px 5px #660340; 
    transition: all 0.5s;
    
    p {
      display: inline;
      color: var(--white);
      transition: all 0.2s;
    }
    
    &:hover {
      color: rgb(255, 255, 255);
      background: rgb(51, 51, 51);
      text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(177, 17, 163) 0px -2px 10px, rgb(255, 143, 208) 0px -10px 20px, rgb(99, 0, 124) 0px -18px 40px;
      --darkreader-inline-color:#ffffff;
      --darkreader-inline-bgimage: initial;
      --darkreader-inline-bgcolor:#2e3537;
      transform: scale(1.2);

      p {
        color: var(--magenta);
      }
    } 
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}